<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new movie</title>
</head>
<body>
    <h1> Please add a new movie</h1>
    <form action="/add" method="post">
        <label for="titleInput"> title:</label>
        <input id="titleInput" type="text" name="title" /> <br>
        <label for="yearInput"> year of release:</label>
        <input id="yearInput" type="text" name="year"/> <br>
        <label for="authorInput"> entry's author: </label>
        <input id="authorInput" type="text" name="entryBy"/> <br>
        <button type="submit"> Add new movie </button>
    </form>
</body>
</html>