<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h1> Please edit the movie</h1>
    <form action="/edit/<%=movie.id%>" method="post">
        <label for="titleInput"> title:</label>
        <input id="titleInput" type="text" name="title" value="<%=movie.title%>"/> <br>
        <label for="yearInput"> year of release:</label>
        <input id="yearInput" type="text" name="year" value="<%=movie.year%>"/> <br>
        <label for="authorInput"> entry's author: </label>
        <input id="authorInput" type="text" name="entryBy" value= "<%=movie.entryBy%>"/> <br>
        <button type="submit"> Edit your movie </button>
    </form>
    
</body>
</html>